table {
	width: 100%;
}

.mat-form-field {
	font-size: 14px;
	width: 100%;
}


td,
th {
	width: 25%;
}

.sc-bt {
	margin-top: 25px;
}

.result_button {
	
	padding: 15px 10px;
	border-radius: 50%;
	position: fixed;
	bottom: 50px;
	right: 50px;
	background: #00a1e0;
	z-index: 999;
}

#bg-text
{
    color:lightgrey;
    font-size:100px;
    margin: 8%;
    //  transform:rotate(300deg); 
    // -webkit-transform:rotate(300deg); 
}

.result_md {
	font-size: 50px;
}

.slab {
	margin-bottom: 1%;

	.div1 {
		background-color: #3a3e52;
		color: #fff;

		h4 {
			font-size: 20px;
			padding-left: 15px;
			padding-top: 15px;
		}
	}

	.div2 {
		background: white;
		color: #232323;

		.div2sub {
			padding-left: 15px;
		}
	}

	.div3 {
		background: white;
		color: #232323;

		button {
			background: #159eda;
			color: #fff;
			border-radius: 50px;
		}
	}
}
.se-er{
	margin-top: 10px;
}