// Responsive utilities
//
// More easily include all the states for responsive-utilities.less.
// [converter] $parent hack
@mixin responsive-visibility($parent) {
  #{$parent} {
    display: block !important;
  }
  table#{$parent} {
    display: table !important;
  }
  tr#{$parent} {
    display: table-row !important;
  }
  th#{$parent},
  td#{$parent} {
    display: table-cell !important;
  }
}

// [converter] $parent hack
@mixin responsive-invisibility($parent) {
  #{$parent} {
    display: none !important;
  }
}


//
// Responsive: Utility classes
// --------------------------------------------------
// IE10 in Windows (Phone) 8
//
// Support for responsive views via media queries is kind of borked in IE10, for
// Surface/desktop in split view and for Windows Phone 8. This particular fix
// must be accompanied by a snippet of JavaScript to sniff the user agent and
// apply some conditional CSS to *only* the Surface/desktop Windows 8. Look at
// our Getting Started page for more information on this bug.
//
// For more information, see the following:
//
// Issue: https://github.com/twbs/bootstrap/issues/10497
// Docs: http://getbootstrap.com/getting-started/#support-ie10-width
// Source: http://timkadlec.com/2013/01/windows-phone-8-and-device-width/
// Source: http://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design/
@at-root {
  @-ms-viewport {
    width: device-width;
  }
}


// Visibility utilities
// Note: Deprecated .visible-xs, .visible-sm, .visible-md, and .visible-lg as of v3.2.0
@include responsive-invisibility('.visible-xs');
@include responsive-invisibility('.visible-sm');
@include responsive-invisibility('.visible-md');
@include responsive-invisibility('.visible-lg');

.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important;
}

@media (max-width: $screen-xs-max) {
  @include responsive-visibility('.visible-xs');
}

.visible-xs-block {
  @media (max-width: $screen-xs-max) {
    display: block !important;
  }
}

.visible-xs-inline {
  @media (max-width: $screen-xs-max) {
    display: inline !important;
  }
}

.visible-xs-inline-block {
  @media (max-width: $screen-xs-max) {
    display: inline-block !important;
  }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  @include responsive-visibility('.visible-sm');
}

.visible-sm-block {
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    display: block !important;
  }
}

.visible-sm-inline {
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    display: inline !important;
  }
}

.visible-sm-inline-block {
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    display: inline-block !important;
  }
}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  @include responsive-visibility('.visible-md');
}

.visible-md-block {
  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    display: block !important;
  }
}

.visible-md-inline {
  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    display: inline !important;
  }
}

.visible-md-inline-block {
  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    display: inline-block !important;
  }
}

@media (min-width: $screen-lg-min) {
  @include responsive-visibility('.visible-lg');
}

.visible-lg-block {
  @media (min-width: $screen-lg-min) {
    display: block !important;
  }
}

.visible-lg-inline {
  @media (min-width: $screen-lg-min) {
    display: inline !important;
  }
}

.visible-lg-inline-block {
  @media (min-width: $screen-lg-min) {
    display: inline-block !important;
  }
}

@media (max-width: $screen-xs-max) {
  @include responsive-invisibility('.hidden-xs');
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  @include responsive-invisibility('.hidden-sm');
}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  @include responsive-invisibility('.hidden-md');
}

@media (min-width: $screen-lg-min) {
  @include responsive-invisibility('.hidden-lg');
}


// Print utilities
//
// Media queries are placed on the inside to be mixin-friendly.
// Note: Deprecated .visible-print as of v3.2.0
@include responsive-invisibility('.visible-print');

@media print {
  @include responsive-visibility('.visible-print');
}

.visible-print-block {
  display: none !important;

  @media print {
    display: block !important;
  }
}

.visible-print-inline {
  display: none !important;

  @media print {
    display: inline !important;
  }
}

.visible-print-inline-block {
  display: none !important;

  @media print {
    display: inline-block !important;
  }
}

@media print {
  @include responsive-invisibility('.hidden-print');
}

 











/* Mobile Layout: 320px. */


/*@media screen and (max-width: 320px) {
    section.banner {
        .banner-card-hold {
            width: 100%;
        }
    }   
}
@media screen and (max-width: 399px) {
    section.ld-upcoming-lottery {
        .card {
            ul {
                li {
                    width: 100% ;
                    &:first-child {
                        height: 110px;
                        width: 100%;
                        &:after {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (min-width: 400px) and (max-width: 767px) {
    section.ld-upcoming-lottery {
        .card {
            ul {
                li {
                    width: 60% ;
                    &:first-child {
                        height: 110px;
                        width: 40%;
                        &:after {
                            left: 100%;
                        }
                    }
                }
            }
        }
    }    
}*/


/* Actually mobile responsive */

@media screen and (max-width: 350px) {
  section.ld-latest-results {
    .card {
      ul {
        li {
          &:nth-child(2) {
            font-size: 14px;
            width: 100%;
            text-align: left;
          }
          ul {
            li {
              width: 29px;
              height: 22px;
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}




@media screen and (max-width: 991px) {
  .mobile-banner-btn {
    display: inline-block;
  }
  .device-banner-btn {
    display: none;
  }
}






/* Actually mobile responsive */

@media screen and (max-width: 767px) {
 

  section.registration {
    background: none;
    min-height: inherit;
    margin-bottom: 30px;
    .container {
      .reg-form {
        width: auto;
        margin: 15px;
        padding: 80px 15px 15px 15px;
        float: none;
        min-height: auto;
        .dob.ld-form-group {
          input[type="text"] {
            text-align: center;
          }
        }
      }
      .image-text {
        display: none;
      }
    }
  }
  section.ld-security {
    margin-top: 40px;
    ul {
      margin: 0 auto;
    }
    &:after {
      display: none;
    }
    &:before {
      top: -65px;
      left: 40%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(136, 183, 213, 0);
      border-bottom-color: $white;
      border-width: 35px;
      /*margin-left: -30px;*/
    }
  }

  section.ld-upcoming-lottery {
    margin: 0px auto;
    .pagination {
      display: none;
    }
    .button {
      width: 95%;
      margin: auto;
      button {
        font-family: $font-primary-medium;
        font-size: 18px;
        justify-content: center;
        width: 100%;
        padding: 12px 10px;
        i {
          font-size: 30px;
        }
      }
    }
    .card {
      ul {
        padding: 5px;
        display: flex;

        li {
          width: 55%;
          float: left;

          h2 {
            margin: 0;
          }
          &:first-child {
            width: 43%;
            border-top-right-radius: 0;
            border-bottom-left-radius: 3px;
            margin: 0px;
            float: left;
            display: flex;
            justify-content: center;
            align-items: stretch;
            align-content: stretch;
            flex-direction: column;

            &:after {
              left: 100%;
              top: auto;
              bottom: auto;
            }


            & h1 {
              display: block;
              text-align: center;
              .lottery_2x,
              .lottery_1x {
                margin: 10px auto 0 !important;
              }
              .lottery_1x {
                zoom: 1.1;
              }
              h2 {
                font-size: 16px;
                span {
                  margin: 0;
                  font-family: $font-secondary;
                }
              }
            }
            h1 h2 {
              color: $white;
              width: 100%;

              text-align: center;
              span {
                font-size: 10px;
                width: 100%;
                display: inline-block;
              }
            }

			}
          &:nth-child(2) {
            display: none;
          }
          &:nth-child(3) {
            float: right;
            padding: 0px;
            box-sizing: border-box;
            border: none;
            display: flex;
            align-items: stretch;
            justify-content: flex-end;
            width: 57%;
          }

          .align-flex {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            padding: 5px 8px;
            h4 {
              margin: 0;
              small {
                font-size: 15px;
                color: $brand-ld;
                font-family: $font-primary-medium;
                font-weight: normal;
              }
            }
          }
        }
        .clearfix {
          display: none;
        }
      }
    }
  }



  header {
    background-color: #40447d;
    border: none;
  }

  .mobile-comp {
    display: block;
  }
  .device-comp {
    display: none;
  }
  section.ld-latest-results {
    [class*="crm-col-lg"]:nth-child(even) .card,
    [class*="crm-col-md"]:nth-child(even) .card {
      width: 100%;
    }
    .card {
      width: 100%;
    }
    .button {
      margin: auto;
      button {
        font-family: $font-primary-medium;
        font-size: 18px;
        justify-content: center;
        width: 100%;
        padding: 12px 10px;
        i {
          font-size: 30px;
        }
      }
    }
  }
  section.ld-winner-stories {
    .pic-holder {
      margin-right: 0;
    }
  }
  nav {
    padding-top: 0;
    min-height: inherit;
  }
}











/* Devices Beyond */

@media screen and (min-width: 768px) {
  section.banner {
    background: url('/assets/img/banner.png');
    background-size: cover;
  }
  section.ld-newsletter {
    background: url('/assets/img/newsletter.png') center center no-repeat;
    background-size: cover;
  }
 
}











/* Tablet Layout: 768px. */

@media screen and (min-width: 768px) and (max-width: 992px) {
  .mobile-nav {
    display: block !important;
  }
  .device-nav {
    display: none !important;
  }
  .device-header {
    display: none !important;
  }
  section.ld-latest-results {
    .card {
      padding: 15px;
      >ul {
        >li {
          &:nth-child(2) {
            font-size: 14px;
          }
          &:nth-child(4) .btn:first-child {

            padding: 12px;
            font-size: 14px;
            i {
              font-size: 18px;
            }
          }
          &:nth-child(4) .btn:last-child {

            line-height: 1.6;
          }

          ul {
            li {
              width: 28px;
              height: 28px;
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .wrapper {
    margin-top: 60px;
  }
}

@media screen and (max-width: 1199px) {
  /* Footer links */
  /*  .mobile-menu-items,
  .mobile-profile-items*/
  
  section.ld-footer {
    .ac-container ul {
      margin-left: 50px;
      margin-top: 0px;
      list-style: none;
    }
    .ac-container ul li {
      padding: 5px 0;
    }
    .ac-container {
      margin: 10px auto 10px auto;
      text-align: left;
    }
    .ac-container label {
      position: relative;
      display: block;
      cursor: pointer;
      padding: 30px 45px 30px 15px;
      text-transform: uppercase;
    }
    .ac-container label:after,
    .ac-container label:hover:after,
    .ac-container input:checked+label:hover:after,
    .ac-container a:after,
    .ac-container a:hover:after,
    .ac-container input:checked+a:hover:after {
      position: absolute;
      right: 45px;
      top: 25px;
      content: "\f107";
      font: normal normal normal 30px/1 FontAwesome;
      color: $brand-ld;
      transition: all 0.3s ease-in-out;
    }
    .ac-container input:checked+label:after,
    .ac-container input:checked+label:hover:after {
      content: "\f107";
      font: normal normal normal 30px/1 FontAwesome;
      color: $brand-ld;
      transform: rotate(-90deg);
      transition: all 0.3s ease-in-out;
    }
    .ac-container input {
      display: none !important;
    }
    .ac-container article ul li a:after {
      display: none;
    }
    .ac-container article {
      margin-top: -1px;
      overflow: hidden;
      height: auto;
      max-height: 0;
      border-bottom: 2px solid $footer-border-colors;
      position: relative;
      /*z-index: 10;*/
      -webkit-transition: height 0.3s ease-in-out;
      -moz-transition: height 0.3s ease-in-out;
      -o-transition: height 0.3s ease-in-out;
      -ms-transition: height 0.3s ease-in-out;
      transition: height 0.3s ease-in-out;
    }
    .ac-container article p {
      font-size: 14px;
      padding: 20px;
    }
    .ac-container input:checked~article {
      -webkit-transition: max-height 0.5s ease-in-out;
      -moz-transition: max-height 0.5s ease-in-out;
      -o-transition: max-height 0.5s ease-in-out;
      -ms-transition: max-height 0.5s ease-in-out;
      transition: max-height 0.5s ease-in-out;
    }
    .ac-container input:checked~article,
    .ac-container input:checked~article.ac-xsmall,
    .ac-container input:checked~article.ac-small,
    .ac-container input:checked~article.ac-medium,
    .ac-container input:checked~article.ac-large,
    .ac-container input:checked~article.ac-medium-large {
      max-height: 300px;
    }

    .ac-container input:checked~article,
    .ac-container input:checked~article.ac-xsmall span,
    .ac-container input:checked~article.ac-small span,
    .ac-container input:checked~article.ac-medium span,
    .ac-container input:checked~article.ac-large span,
    .ac-container input:checked~article.ac-medium-large span {
      display: inline-block;
      width: 100%;
    }
  }
}



/* Wide Mobile Layout: 480px. */

@media screen and (min-width: 480px) and (max-width: 767px) {}



/* Small Devices, Tablets */

@media screen and (min-width: 580px) {}



/* Desktop */

@media screen and (min-width: 992px) and (max-width: 1280px) {
  /*.container {
        width: 1440px;
    }*/
  section.banner {
    background: url('/assets/img/banner.png');
  }
}



/* Large Devices, Wide Screens */

@media screen and (min-width: 1200px) {
  /*.container {
        width: 1140px;
    }*/
}



/* Large Devices, Wide Screens */

@media screen and (min-width: 1400px) {}



/* Large Devices, Wide Screens */

@media screen and (min-width: 1600px) {}
