<!-- Old Code -->

<!--<div class="gray-color">
	<div class="padding-set">
		<div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="5px">
			<div fxFlex="90%">
				<div class="schedule-select-text">
					<div class="select-schedule-icon"><i class="material-icons  inactive-check" (click)="dailySelected()" [ngClass]="{'active-check':value != daily,'inactive-check':value == daily}">check_circle</i>
					</div>
					<b class="move_top">Daily</b>
				</div>
				<p>Your Campaign will be Schedule Daily</p>
				<form class="daily-form" [formGroup]="schedule" *ngIf="value">
					<mat-form-field class="margin-right">
						<input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" placeholder="From Date" formControlName="from_date">
						<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
						<mat-datepicker #picker></mat-datepicker>
					</mat-form-field>
					<mat-form-field class="margin-right">
						<input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker1" placeholder="To Date" formControlName="to_date">
						<mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
						<mat-datepicker #picker1></mat-datepicker>
					</mat-form-field>
				</form>
			</div>
			<div fxFlex="10%">
				<button *ngIf="value" class="save-run-buttons" (click)="addStep()">Add Step</button>
			</div>
		</div>
	</div>
</div>-->


<div class="widget" (click)="dailySelected()" [ngClass]="{'active-check':value != daily,'inactive-check':value == daily}">

	<ul>
		<li><i class="material-icons  inactive-check">check_circle</i></li>
		<li class="marginL20">
			<h6>DAILY
				<span>Your Campaign will be Schedule Daily</span>
			</h6>
		</li>
		<li class="pull-right"><button *ngIf="value" class="btn btn-secondary" (click)="addStep($event)">Add Step</button></li>
	</ul>
</div>

<form class="daily-form" [formGroup]="schedule" *ngIf="value">
	<!-- <mat-form-field class="margin-right">
		<input matInput placeholder="No of Days" [disabled]="false" formControlName="every">
	</mat-form-field> -->
	<mat-form-field class="margin-right">
		<input matInput [min]="minDate" [max]="maxDate" (click)="picker.open()" [matDatepicker]="picker" placeholder="From Date" formControlName="from_date">
		<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
		<mat-datepicker #picker></mat-datepicker>
	</mat-form-field>
	<mat-form-field class="margin-right">
		<input matInput [min]="minDate" [max]="maxDate" (click)="picker1.open()" [matDatepicker]="picker1" placeholder="To Date" formControlName="to_date">
		<mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
		<mat-datepicker #picker1></mat-datepicker>
	</mat-form-field>
</form>
