.pop-input{
    border: 1px solid rgba(0, 0, 0, 0.54);
    text-align: center;
    // min-height: 80px;
    // padding: 70px 10px 57px 10px;
    border-radius: 5px;
    margin-bottom: 3px;
}
// ::ng-deep{
//     .pop-input::placeholder{
//         margin-top: 35px;
//     }
// }
