.gray-color{
    background: #f6f8fc;
    width:100%;
    min-height: 100px;
    .padding-set{
        padding: 30px;
       
    }
    .active-check{
        color:#3f87e0;
        cursor: pointer;
    }
    .inactive-check{
        cursor: pointer;
        color: #d9e2e6;
    }
    .move_top{
        margin-top: 10px;
    }
}

.schedule-select-text{
    .select-schedule-icon{
       float: left;
   }
   b{
       margin-left: 2%;
   }
}
.radio-group{
    margin-top: 2%;
    .monthly-radio-button{
        margin-right: 1%;
    }
}
::ng-deep{
    .mat-radio-button.mat-accent.mat-radio-checked{
        .mat-radio-outer-circle {
            border-color:#428BE6;
    
        }
        
    }
    .mat-radio-button.mat-accent .mat-radio-inner-circle {
        background-color: #428BE6 !important;
    }
}


.monthly-form{
    margin-top:1%; 
    .select-field-monthly{
        margin-top: 1%;
        width: 100%;
        display: inline-block;
        .custom-select{
            width: 20%;
            float: left;
            margin-right: 2%;
        }
    }
}
.monthly-field{
    margin-top: 10px;
    .mat-form-field{
        width: 18%;
        margin-right: 2%;
    }
}
