.selected{
  background: rgb(0, 195, 255);
}
.dilog-block{
  position: relative;
}
.icon-top-right {
  position: absolute;
  right: 0;
  top: 20px;
}
mat-icon{
  float: left;
  cursor: pointer;
}
.fullWT
{
  width: 100%;
}
.marginGap{
  margin-left: 14%;
}
.move-top
{
  margin-top: -20px;
}
