/* table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  } */
  mat-header-row{
     background: #3A3E52;
     min-height: 40px;
     border-radius: 5px;
     
    }
    mat-header-cell{
      color:white;
     }
     .mat-form-field{
       float: none !important;
     }
