<div class="filter-inner-content">
	<ul>
		<li>
			<div *ngIf="returnelements.length>0" class="marginTB15-auto text-l">

				<div class="crm-col-lg-1 text-l marginB20" *ngIf="slabfilter.date_val"></div>
				<div class="crm-col-lg-12 text-l marginB20" *ngIf="slabfilter.date_val">
					 Select a number from Current Date
				</div>
				
				<div class="clearfix"></div>

				<div class="crm-col-lg-1">
					<i class="mdi mdi-minus-circle" *ngIf="totalIndx-1!=indx" (click)="deleteSlab(indx)"></i>
					<i class="mdi mdi-plus-circle" *ngIf="totalIndx-1==indx" (click)="addFilter()"></i>
					<!-- <i (click)="deleteSlab(indx)" class="material-icons" style="margin-top: 20px;"> remove_circle_outline</i> -->

				</div>

				<div class="crm-col-lg-6">
					<div class="custom-select">

							<ng-select [items]="returnelements" [(ngModel)]="slabfilter1" (change)="selectedEleUi(slabfilter1.elementid)" bindLabel="elementlabel" placeholder="Element">
								</ng-select>


						<!-- <ng-select [(ngModel)]="slabfilter1" (change)="selectedEleUi(slabfilter1.elementid)">
							<ng-option *ngFor="let filter of returnelements" [value]="filter">
								{{filter.elementlable}}
							</ng-option>
						</ng-select> -->
					</div>
				</div>
				<div class="crm-col-lg-1" style="padding-top: 20px;"> and </div>

				<div class="clearfix"></div>

				<div class="crm-col-lg-1"></div>

				<div class="crm-col-lg-6">
					<div class="custom-select">
						<ng-select [(ngModel)]="selectFilter" (change)="filterOperator(selectFilter)">
							<ng-option *ngFor="let filter of operators" [value]="filter">
								{{filter.value}}
								{{filter.viewValue}}
							</ng-option>
						</ng-select>
					</div>
				</div>

				<div class="crm-col-lg-1" *ngIf="(slabfilter.type==='Date')" style="padding-top: 10px;">
					<button mat-button class="menu" [matMenuTriggerFor]="menu" style="margin-top: 0;">
						<mat-icon>more_vert</mat-icon>
					</button>

					<mat-menu #menu="matMenu">
						<button mat-menu-item (click)="dateSelector(false)">Date Picker</button>
						<button mat-menu-item (click)="dateSelector(true)">Current Date</button>
					</mat-menu>
				</div>

				<div class="clearfix"></div>

				<div class="crm-col-lg-12">

					<div class="sep-textfields" *ngIf="selectFilter">

						<div class="crm-col-lg-1"></div>
						<div class="crm-col-lg-10">

							<div *ngIf="slabfilter.type==='Date' && !slabfilter.date_val">
								<mat-form-field *ngIf="!slabfilter.date_val">
									<input matInput [matDatepicker]="picker" [max]="maxDate" [appInputType]="slabfilter.type" autocomplete="off" [datepickerInstance]="picker" [placeholder]="placeholders[slabfilter.type]" [(ngModel)]="slabfilter.value" (dateChange)="somethingChanged()">
									<mat-datepicker #picker [disabled]="!(slabfilter.type==='Date')"></mat-datepicker>
								</mat-form-field>
							</div>

							<div *ngIf="!(slabfilter.type==='Date') || slabfilter.date_val">


								<div class="crm-col-lg-10">

									<mat-form-field *ngIf="slabfilter.type=='Integer'">
										<input matInput numbersOnly type="number" [appInputType]="datetype" [placeholder]="placeholders[datetype]" [(ngModel)]="slabfilter.value" (change)="somethingChanged()">
									</mat-form-field>
									<mat-form-field *ngIf="slabfilter.type!='Integer'">
										<input matInput [appInputType]="datetype" [placeholder]="placeholders[datetype]" [(ngModel)]="slabfilter.value" (change)="somethingChanged()">

									</mat-form-field>
								</div>

							</div>

						</div>

						<div class="clearfix"></div>

						<div class="crm-col-lg-1"></div>
						<div class="crm-col-lg-10" *ngIf="selectFilter.multi=='T'">

							<div *ngIf="slabfilter.type==='Date'  && !slabfilter.date_val">
								<mat-form-field *ngIf="!slabfilter.date_val">
									<input matInput [matDatepicker]="picker" [max]="maxDate" [appInputType]="slabfilter.type" autocomplete="off" [datepickerInstance]="picker" [placeholder]="placeholders[slabfilter.type]" [(ngModel)]="slabfilter.value2" (dateChange)="somethingChanged()">
									<mat-datepicker #picker [disabled]="!(slabfilter.type==='Date')"></mat-datepicker>
								</mat-form-field>
							</div>

							<div *ngIf="!(slabfilter.type==='Date') || slabfilter.date_val">

								<div class="crm-col-lg-10">

									<mat-form-field *ngIf="slabfilter.type=='Integer'">
										<input matInput numbersOnly type="number" [appInputType]="datetype" [placeholder]="placeholders[datetype]" [(ngModel)]="slabfilter.value2" (change)="somethingChanged()">
									</mat-form-field>

									<mat-form-field *ngIf="slabfilter.type!='Integer'">
										<input matInput [appInputType]="datetype" [placeholder]="placeholders[datetype]" [(ngModel)]="slabfilter.value2" (change)="somethingChanged()">
									</mat-form-field>

								</div>

							</div>



						</div>

					</div>


				</div>

				<div class="clearfix"></div>

			</div>

		</li>
	</ul>
</div>
